{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="section2">
<center><h1> Blog </h1></center>
{% for blog in page_obj  %}
<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url({{ blog.Img.url }})"></div>
     
    </div>
    <div class="description">
				<h1>{{ blog.header }}</h1>
      <h2>By:-{{ blog.Author }} {{ blog.timeStamp }}</h2>
      <p>{{ blog.content|safe }}</p>
      <p class="read-more">
        <a href="#">READ MORE</a>
      </p>
    </div>
  </div>
{% endfor %}
  <hr>

<center>
<nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
</center>
</div>




{% endblock content %}
