{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
<center><h3> hardware</h3></center>
  <main class="grid">
  {% for product in page_obj  %}
    <article>
      <img src="{{ product.product_image.url }}" alt="tshirt photo">
      <div class="text">
        <h3>{{ product.product_name }}</h3>
        <p style="font-size: 30px; line-height: 0.0em;margin: 0px;"><i class="fa fa-inr"></i><a style="color:red;">{{ product.product_price }}</a></p>
        <p>{{ product.content|safe }}</p>
      <a> 
      <div >
      <form target="_blank" method="get" action="https://wa.me/+918898887276">
          <input type="checkbox" name="text" value="{{ product.content }}" checked>
          
        <button type="submit"> 
            <i class="fa fa-whatsapp"></i></button>
            <a target="_blank" href="{{ product.link_for_index }}"><i class="fa fa-facebook"></i></a></button>
            
      </form>
    </div>
              
        </a>
      </div>
    </article>
    
{% endfor %}

    
  </main>
</div>

{% endblock content %}