{% extends "base.html" %}
{% load static %}
{% block content %}
     
<!--CONTAINER-->
<div class="container">
<table>
<tr>
<td>
<section>
<h3>Welcome Technico Solution</h3>

<h1 class="intro-text"><span class="typed-text" id="typed"> </span><span class="cursor">&nbsp;</span></h1>
</span>
</h1>
<h5 class="sub-title">We have knowledge  Computer repair specialists , deep understanding of the mechanics 
and programming systems of computers in order to identify and fix problems </h5>
<a href="#" class="btn1">Check Services</a>
</section>
</td>
<td>
  <a  href="index">
            <img src="{% static 'img/computerD.gif'%}" alt="index photo"></a>
</td>
</tr> 
</table>
<br>
</div>
<section class="section2">
	<center> <div><h1> Services</h1></div</center>
<main class="grid">
  
        <article>
		  <a  href="hardware">
            <img src="{% static 'img/1.jpg'%}" alt="Sample photo"></a>
            <a href="hardware"><div class="text">
              <h3>hardware</h3>
             
              <button type="button" style= "cursor:pointer" onclick="window.location.href='hardware'" >Click Here</button>
            </div></a>
          </article>
		<article>
		  <a  href="laptop">
            <img src="{% static 'img/bc.jpg'%}" alt="Sample photo"></a>
            <a href="laptop"><div class="text">
              <h3>Laptop</h3>
             
              <button type="button" style= "cursor:pointer" onclick="window.location.href='hardware'" >Click Here</button>
            </div></a>
          </article>
		<article>
		  <a  href="computer">
            <img src="{% static 'img/Desktop.jpg'%}" alt="Sample photo"></a>
            <a href="computer"><div class="text">
              <h3>Computer</h3>
             
              <button type="button" style= "cursor:pointer" onclick="window.location.href='hardware'" >Click Here</button>
            </div></a>
          </article>
		<article>
		  <a  href="webdesign">
            <img src="{% static 'img/design.jpg'%}" alt="Sample photo"></a>
            <a href="webdesign"><div class="text">
              <h3>Web Design</h3>
             
              <button type="button" style= "cursor:pointer" onclick="window.location.href='hardware'" >Click Here</button>
            </div></a>
          </article>
		<article>
		  <a  href="accessories">
            <img src="{% static 'img/acce.jpg'%}" alt="Sample photo"></a>
            <a href="accessories"><div class="text">
              <h3>Accessories</h3>
             
              <button type="button" style= "cursor:pointer" onclick="window.location.href='hardware'" >Click Here</button>
            </div></a>
          </article>
		<article>
		  <a  href="refurbished">
            <img src="{% static 'img/acceriese.jpg'%}" alt="Sample photo"></a>
            <a href="refurbished"><div class="text">
              <h3>refurbished</h3>
             
              <button type="button" style= "cursor:pointer" onclick="window.location.href='hardware'" >Click Here</button>
            </div></a>
          </article>
		<article>
		  <a  href="cctv">
            <img src="{% static 'img/cctv.jpg'%}" alt="Sample photo"></a>
            <a href="cctv"><div class="text">
              <h3>cctv</h3>
             
              <button type="button" style= "cursor:pointer" onclick="window.location.href='hardware'" >Click Here</button>
            </div></a>
          </article>
		<article>
		  <a  href="repairing">
            <img src="{% static 'img/repaire.jpg'%}" alt="Sample photo"></a>
            <a href="repairing"><div class="text">
              <h3>repairing</h3>
             
              <button type="button" style= "cursor:pointer" onclick="window.location.href='hardware'" >Click Here</button>
            </div></a>
          </article>  
		
		  
        </main>
</section>



<!--SECTION2-->
<section class="section2">
<div class="title_header">
<h1 class="title">Technico Solution</h1>
<h5 class="sub-title">We have knowledge  Computer repair specialists , deep understanding of the mechanics 
and programming systems of computers in order to identify and fix problems</h5>
</div>

<div class="cards">
<div class="card">
<i class="fa fa-server"></i>
<h5 class="sub-title">Best Customer Services </h5>
<p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
</div>
<div class="card">
<i class="fa fa-rocket"></i>
<h5 class="sub-title">Best Performance website </h5>
<p>We operate one of the most advanced 100 Gbit networks in the world.</p>
</div>
<div class="card">
<i class="fa fa-user"></i>
<h5 class="sub-title">Best Employees </h5>
<p>All datacenters are Tier 4 certified and provide advanced fire.</p>
</div>
<div class="card">
<i class="fa fa-refresh"></i>
<h5 class="sub-title"></h5>
<p>Your ordered product will be automatically and instantly activated.</p>
</div>
<div class="card">
<i class="fa fa-cloud"></i>
<h5 class="sub-title">Fully Redundant  </h5>
<p>Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy.</p>
</div>
<div class="card">
<i class="fa fa-phone"></i>
<h5 class="sub-title">24/7 Support</h5>
<p>Our customer care support will be responsive to all the queries.</p>
</div>
</div>
</section>










<!--SECTION3-->
<section class="section3">

</section>







<!--SECTION4-->
<section class="section4">

</section>







    
{% endblock content %}
    <!-- <div class="container">
    <div class="innerwrap"> -->
      
    
      
    
      <!-- <section class="section1 clearfix">

      </section>
