{% extends "base.html" %}
{% load static %}
{% block content %}
     
<!--CONTAINER-->
<div class="container">
<table>
<tr>
<td>
<section>
<em>WELCOME TO Technico Solution</em>
<h1 class="title ml9">
<span class="text-wrapper">
<span class="letters"> Computer Hardware & Web Design</span>
</span>
</h1>
<h5 class="sub-title">We have knowledge  Computer repair specialists , deep understanding of the mechanics 
and programming systems of computers in order to identify and fix problems </h5>
<a href="#" class="btn1">Check Services</a>
</section>
</td>
<td>
<img src="{% static 'img/H&S.jpg' %}" alt="">
</td>
</tr>
</table>
</div>


<!--SECTION1-->
<section class="section1">
<!--******PRICE CARDS******-->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Raleway:wght@300&family=Recursive:wght@500&display=swap" rel="stylesheet">  

<div class="price_cards">
<!--CARD_BEGINING-->
<div class="card card_1">
<img src="https://i.ibb.co/BCRGYmx/bronze.png" class="badge" alt="STATER">
<h1 class="title">Professional</h1>
<span class="sub-title">$2,000 por año</span>
<section>
<ul>
<li>25GB disco NVMe</li>
<li>25GB JetBackup</li>
</ul>
<button class="btn1">Ver Detalles</button>
</section>
</div>
<!--CARD_ENDS-->
<!--CARD_BEGINING-->
<div class="card card_2">
<img src="https://i.ibb.co/DQR0Mzt/silver.png" class="badge" alt="PREMIUM">
<h1 class="title">Premium</h1>
<span class="sub-title">$2,000 por año</span>
<section>
<ul>
<li>25GB disco NVMe</li>
<li>25GB JetBackup</li>
</ul>
<button class="btn1">Ver Detalles</button>
</section>
</div>
<!--CARD_ENDS-->
<!--CARD_BEGINING-->
<div class="card card_3">
<img src="https://i.ibb.co/Nmh4LR0/gold.png" class="badge" alt="UNLIMITED">
<h1 class="title">Unlimited</h1>
<span class="sub-title">$2,000 por año</span>
<section>
<ul>
<li>25GB disco NVMe</li>
<li>25GB JetBackup</li>
</ul>
<button class="btn1">Ver Detalles</button>
</section>
</div>
<!--CARD_ENDS-->
</div>
</section>








<!--SECTION2-->
<section class="section2">
<div class="title_header">
<h1 class="title">Most amazing features</h1>
<h5 class="sub-title">Deploy your service infrastructure on our fully redundant, high performance cloud platform and benefit from its high reliability, security and enterprise feature set. </h5>
</div>

<div class="cards">
<div class="card">
<i class="fa fa-server"></i>
<h5 class="sub-title">Passion for Privacy</h5>
<p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
</div>
<div class="card">
<i class="fa fa-rocket"></i>
<h5 class="sub-title">High Performance </h5>
<p>We operate one of the most advanced 100 Gbit networks in the world.</p>
</div>
<div class="card">
<i class="fa fa-shield"></i>
<h5 class="sub-title">Secure Infrastructure </h5>
<p>All datacenters are Tier 4 certified and provide advanced fire.</p>
</div>
<div class="card">
<i class="fa fa-refresh"></i>
<h5 class="sub-title">Instant Activation </h5>
<p>Your ordered product will be automatically and instantly activated.</p>
</div>
<div class="card">
<i class="fa fa-cloud"></i>
<h5 class="sub-title">Fully Redundant  </h5>
<p>Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy.</p>
</div>
<div class="card">
<i class="fa fa-phone"></i>
<h5 class="sub-title">24/7 Support</h5>
<p>Our customer care support will be responsive to all the queries.</p>
</div>
</div>
</section>










<!--SECTION3-->
<section class="section3">
<div class="title_header">
<h1 class="title">Compara los planes</h1>
</div>
<table>
<tr>
<th></th>
<th>Plan Profesional</th>
<th>Plan PyME-50</th>
<th>Plan PyME-150</th>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td>25GB</td>
<td>50GB</td>
<td>150GB</td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td><i class="fa fa-check"></i></td>
<td><i class="fa fa-times"></i></td>
<td><i class="fa fa-check"></i></td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td><i class="fa fa-check"></i></td>
<td><i class="fa fa-times"></i></td>
<td><i class="fa fa-check"></i></td>
</tr>
<tr>
<td>Espacio en unidades NVMe</td>
<td><i class="fa fa-check"></i></td>
<td><i class="fa fa-times"></i></td>
<td><i class="fa fa-times"></i></td>
</tr>
</table>
</section>







<!--SECTION4-->
<section class="section4">
<div class="title_header">
<h1 class="title">¿Por qué elegir Hosting PCEL?</h1>
</div>
<div class="cards">
<div class="card">
<h5 class="sub-title">Web Hosting NVMe</h5>
<p>Contamos con servidores con unidades NVMe,
potentes y estables. Con respaldos semanales
con 10 puntos de restauración.</p>
</div>
<div class="card">
<h5 class="sub-title">Soporte técnico especializado</h5>
<p>Atención telefónica, chat de soporte, personal
profesional a su servicio, soporte remoto con
Teamviewer.</p>
</div>
<div class="card">
<h5 class="sub-title">Garantia de satisfacción</h5>
<p>Nuestros servicios de hosting incluyen una
garantía de satisfacción total de 30 días.</p>
</div>
</div>
</section>







    
{% endblock content %}
    <!-- <div class="container">
    <div class="innerwrap"> -->
      
    
      
    
      <!-- <section class="section1 clearfix">

      </section>
