{% extends "base.html" %}
{% load static %}
{% block content %}
     
<!--CONTAINER-->
<div class="container">
<table>
<tr>
<td>
<section>
<h3>Welcome Technico Solution</h3>

<h1 class="intro-text"><span class="typed-text" id="typed"> </span><span class="cursor">&nbsp;</span></h1>
</span>
</h1>
<h5 class="sub-title">We have knowledge  Computer repair specialists , deep understanding of the mechanics 
and programming systems of computers in order to identify and fix problems </h5>
<a href="#" class="btn1">Check Services</a>
</section>
</td>
{% comment %} <td>
<img src="{% static 'img/H&S.jpg' %}" alt="">
</td>
</tr> {% endcomment %}
</table>
</div>


<!--SECTION1-->
<section class="section1">
<center><h1>Services</h1></center>
<ul class="card-list">
	
	<li class="card">
		<a class="card-image" href="hardware" target="_blank" style="background-image: url({% static 'img/1.jpg'%});" data-image-full="{% static 'img/1.jpg'%}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg" alt="let's go" />
		</a>
		<a class="card-description" href="Laptop" target="_blank">
			<h2>Computer Hardware</h2>
			
		</a>
	</li>
	
	<li class="card">
		<a class="card-image" href="Laptop" target="_blank" style="background-image: url({% static 'img/Laptop.jpg'%});" data-image-full="{% static 'img/Laptop.jpg'%}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg" alt="let's go" />
		</a>
		<a class="card-description" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank">
			<h2>Laptop</h2>
			
		</a>
	</li>
	
	<li class="card">
		<a class="card-image" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank" style="background-image: url({% static 'img/Desktop.jpg'%});" data-image-full="{% static 'img/Desktop.jpg'%}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg" alt="The Beautiful Game" />
		</a>
		<a class="card-description" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank">
			<h2>Desktop</h2>
			
		</a>
	</li>
	
	<li class="card">
		<a class="card-image" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank" style="background-image: url({% static 'img/design.jpg'%});" data-image-full="{% static 'img/design.jpg'%}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg" alt="Jane Doe" />
		</a>
		<a class="card-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
			<h2>Web Design</h2>
			
		</a>
	</li>
  	<li class="card">
		<a class="card-image" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank" style="background-image: url({% static 'img/acce.jpg'%});" data-image-full="{% static 'img/acce.jpg'%}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg" alt="Jane Doe" />
		</a>
		<a class="card-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
			<h2>Computer Accessories</h2>
			
		</a>
	</li>
  	<li class="card">
		<a class="card-image" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank" style="background-image: url({% static 'img/acceriese.jpg'%});" data-image-full="{% static 'img/acceriese.jpg'%}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg" alt="Jane Doe" />
		</a>
		<a class="card-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
			<h2>Refurbished Product</h2>
			
		</a>
	</li>
	  	<li class="card">
		<a class="card-image" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank" style="background-image: url({% static 'img/cctv.jpg'%});" data-image-full="{% static 'img/cctv.jpg'%}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg" alt="Jane Doe" />
		</a>
		<a class="card-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
			<h2>CCTV Setup</h2>
			
		</a>
	</li>
		  	<li class="card">
		<a class="card-image" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank" style="background-image: url({% static 'img/repaire.jpg'%});" data-image-full="{% static 'img/repaire.jpg'%}">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg" alt="Jane Doe" />
		</a>
		<a class="card-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
			<h2>Computer Repairing</h2>
			
		</a>
	</li>
	
</ul>
</section>








<!--SECTION2-->
<section class="section2">
<div class="title_header">
<h1 class="title">Technico Solution</h1>
<h5 class="sub-title">We have knowledge  Computer repair specialists , deep understanding of the mechanics 
and programming systems of computers in order to identify and fix problems</h5>
</div>

<div class="cards">
<div class="card">
<i class="fa fa-server"></i>
<h5 class="sub-title">Best Customer Services </h5>
<p>Supercharge your WordPress hosting with detailed website analytics, marketing tools.</p>
</div>
<div class="card">
<i class="fa fa-rocket"></i>
<h5 class="sub-title">Best Performance website </h5>
<p>We operate one of the most advanced 100 Gbit networks in the world.</p>
</div>
<div class="card">
<i class="fa fa-user"></i>
<h5 class="sub-title">Best Employees </h5>
<p>All datacenters are Tier 4 certified and provide advanced fire.</p>
</div>
<div class="card">
<i class="fa fa-refresh"></i>
<h5 class="sub-title"></h5>
<p>Your ordered product will be automatically and instantly activated.</p>
</div>
<div class="card">
<i class="fa fa-cloud"></i>
<h5 class="sub-title">Fully Redundant  </h5>
<p>Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy.</p>
</div>
<div class="card">
<i class="fa fa-phone"></i>
<h5 class="sub-title">24/7 Support</h5>
<p>Our customer care support will be responsive to all the queries.</p>
</div>
</div>
</section>










<!--SECTION3-->
<section class="section3">

</section>







<!--SECTION4-->
<section class="section4">

</section>







    
{% endblock content %}
    <!-- <div class="container">
    <div class="innerwrap"> -->
      
    
      
    
      <!-- <section class="section1 clearfix">

      </section>
